img {
    border: 1px solid black;
    width: 300px;
    height: auto;
    box-shadow: 0px .5px 4px rgb(81, 81, 99)
}

.cart {
    margin-top: 10px;
    margin-right: 200px;
    margin-left:15px;
    float: left;
    border: 1px solid black;
    padding-inline: 10px;
}

.agregar {
    border: 1px solid black;
    background: rgb(48, 133, 136);
    color: white;
    height: 40px;
    width: 150px;
    font-size: 14px;
}

.color-box {
    width: 50px;
    height: 50px;
    margin-top:5px;
    border: 1px dotted black;
}

.disableButton {
    background: crimson;
}

/*Agregar estos estilos a la clase del botón creado anteriormente para poder diferenciarlo del botón de agregar al carrito*/
.quitar {
    border: 1px solid black;
    background: rgb(230, 174, 174);
    color: white;
    height: 40px;
    width: 150px;
    font-size: 14px;
}