/*Fondo de la pantalla*/
body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(91, 89, 207);
}

/*Características del título*/
h2 {
	text-align: center;
	color: white;
	font-weight: 400;
}

ul {
	padding-left: 18px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

li { 
	margin-bottom: 8px;
}

/*Definir el ancho del contenedor de textos*/
#app { width: 500px; }

.contenedor {
	position: relative;
	padding: 30px;
	border-radius: 16px;
	background: white;
}

input[type="password"] {
	font-weight: 300;
	width: 95%;
	padding: 10px;
	border-radius: 6px;
	background: whitesmoke;
	border: 1px solid grey;
}

/*Colores para ir atenuando los criterios de password que ya se cumplen*/
.is_valid { color: rgba(136, 152, 170, 0.8); }
.is_valid:before { width: 100%; }

.checkmark_container {
	border-radius: 100%;
	position: absolute;
	top: -20px; right: -20px;
	background: green;
	width: 50px; height: 50px;
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity .4s ease;
}

.show_checkmark {
  visibility: visible;
  opacity: 10;
}

.checkmark {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: white;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
}

.checked { animation: draw 0.5s ease forwards; }

/*Funcionalidad CSS para secuencias de animación, mayor información https://developer.mozilla.org/es/docs/Web/CSS/@keyframes*/
@keyframes draw {
  to { stroke-dashoffset: 0; }
}